<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <form method="post">
      <h1>Se connecter</h1>
        <input type="email" id="email" name="email" placeholder="email" />
        <input type="text" id="api" name="api" placeholder="Api Key" />
        <button type="submit">Connexion</button>
        <!-- <h2 id="error">Une erreur s'est produit</h2> -->
    </form>
  </body>
</html>
